<!-- sorting  -->
<select name="" id="" [(ngModel)]="column">
    <option value="name">name</option>
    <option value="batch">batch</option>
</select>

<select name="" id=""[(ngModel)]="order">
    <option value="asc">ascending</option>
    <option value="desc">descending</option>
</select>
<button class="btn btn-primary" (click)="sortstudents()">sort</button>

<!-- filtering -->
<input type="text" name="" id="" [(ngModel)]="term">
<button class="btn btn-primary" (click)="filter()">filter</button>


<table class=" tbb table table-dark table-hover table-bordered table-striped">
    <thead>
       <tr >
        <th>name</th>
        <th>gender</th>
        <th>image</th>
        <th>phone</th>
        <th>batch</th>
        <th>actions</th>
       </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of studentdata">
            <td>{{student.name}}</td>
            <td>{{student.gender}}</td>
            <td><img src="{{student.avatar}}" alt="" height="50" width:50></td>
            <td>{{student.mobile}}</td>
            <td>{{student.batch}}</td>
            
            <td>
                <button class="btn btn-primary " (click)="view(student.id)" style="margin: 3px;">view</button>
                

                <button class="btn btn-primary" (click)="edit(student.id)" style="margin: 3px;">edit</button>
                <button class="btn btn-danger" (click)="delete(student.id)">delete</button>

            </td>
            
            
        </tr>
    </tbody>
</table>
<ul class="pagination">
    <li *ngFor="let item of j" class="page-item" (click)="page(item + 1)"><a class="page-link" >{{item+1}}</a></li>
    <!-- <li (click)="page(1)" class="page-item"><a class="page-link">1</a></li>
    <li (click)="page(2)" class="page-item"><a class="page-link" >2</a></li>
    <li (click)="page(3)" class="page-item"><a class="page-link" >3</a></li>
    <li (click)="page(4)" class="page-item"><a class="page-link">4</a></li>
    <li (click)="page(5)" class="page-item"><a class="page-link" >5</a></li>
    <li (click)="page(6)" class="page-item"><a class="page-link" >6</a></li> -->
  </ul>

