    <div class="parent">
    <div class="form-container">
        <form action="" [formGroup]="createstudentForm">
        <label for="">name:</label>
        <input type="text" formControlName="name">
        <br>
        <label for="">gender:</label>
        <input type="text" formControlName="gender">
        <br>
        <label for="">mobile:</label>
        <input type="text" formControlName="mobile">
        <br>
        <label for="">email:</label>
        <input type="text" formControlName="email">
        <br>
        <label for="">batch:</label>
        <input type="text" formControlName="batch">
        <!-- nested form -->

        <div formGroupName="address">
            <label for="">city:</label>
            <input type="text" formControlName="city">
            <br>
            <label for="">mandal:</label>
            <input type="text" formControlName="mandal">
            <br>
            <label for="">district:</label>
            <input type="text" formControlName="district">
            <br>
            <label for="">state:</label>
            <input type="text" formControlName="state">
            <br>
            <label for="">pincode:</label>
            <input type="text" formControlName="pincode">
        
        </div>
        <!-- form array -->
        <div formArrayName="educationArray">
            <div *ngFor="let education of educationFormArray.controls ; let i =index">
                <div formGroupName="{{i}}">
                    
                    <h1>Skill: {{skills[i]}}</h1>
                    <label for="">qualification:</label>
                    <input type="text" formControlName="qualification">
                     <br>
                    <label for="">year:</label>
                    <input type="text" formControlName="year">
                    <br>
                    <label for="">percentage:</label>
                    <input type="text" formControlName="percentage">
                    <br>
                </div>
            </div>
            <br>
            <div>
            
            <button class="btn btn-primary" (click)="add()" (click)="i = i + 1" [disabled]="i === skills.length" > Add Education</button>
            
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-success" (click)="submit()">submit</button>

        </div>
     


    </form>
 

    </div>
</div>