    <div class="parent">
    <div class="form-container">
        <form action="" [formGroup]="createstudentForm">
        <label for="">name:</label>
        <input type="text" formControlName="name">
        <!--  custom validations -->
        <div class="error" *ngIf="createstudentForm.get('name')?.touched && createstudentForm.get('name')?.invalid">
            <p *ngIf="createstudentForm.get('name')?.errors?.['required']">name is required</p>
        </div>
        <br>
        <label for="">gender:</label>
        <input type="text" formControlName="gender">

                <!--  custom validations -->

        <div class="error" *ngIf="createstudentForm.get('gender')?.touched && createstudentForm.get('gender')?.invalid">
            <p *ngIf="createstudentForm.get('gender')?.errors?.['required']">gender required</p>
        </div>
        <br>
        <label for="">mobile:</label>
        <input type="text" formControlName="mobile">

                <!--  custom validations -->

        <div class="error" *ngIf="createstudentForm.get('mobile')?.touched && createstudentForm.get('mobile')?.invalid">
            <p *ngIf="createstudentForm.get('mobile')?.errors?.['required']">mobile required</p>
            <p *ngIf="createstudentForm.get('mobile')?.errors?.['minlength']">mobile number should be 10 digits</p>
        </div>
        <br>
        <label for="">email:</label>
        <input type="text" formControlName="email">

                <!--  custom validations -->

        <div class="error" *ngIf="createstudentForm.get('email')?.touched && createstudentForm.get('email')?.invalid">
            <p *ngIf="createstudentForm.get('email')?.errors?.['required']">email required</p>
        </div>
        <br>
        <label for="">batch:</label>
        <input type="text" formControlName="batch">

                <!--  custom validations -->

        <div class="error" *ngIf="createstudentForm.get('batch')?.touched && createstudentForm.get('batch')?.invalid">
            <p *ngIf="createstudentForm.get('batch')?.errors?.['required']">batch required</p>
        </div>
        <!-- nested form -->

        <div formGroupName="address">
            <label for="">city:</label>
            <input type="text" formControlName="city">
            <br>
            <label for="">mandal:</label>
            <input type="text" formControlName="mandal">
            <br>
            <label for="">district:</label>
            <input type="text" formControlName="district">

                    <!--  custom validations -->

            <div class="error" *ngIf="createstudentForm.get('address.district')?.touched && createstudentForm.get('address.district')?.invalid">
                <p *ngIf="createstudentForm.get('address.district')?.errors?.['required']">district required</p>
            </div>
            <br>
            <label for="">state:</label>
            <input type="text" formControlName="state">
            <br>
            <label for="">pincode:</label>
            <input type="text" formControlName="pincode">

                    <!--  custom validations -->

            <div class="error" *ngIf="createstudentForm.get('address.pincode')?.touched && createstudentForm.get('address.pincode')?.invalid">
                <p *ngIf="createstudentForm.get('address.pincode')?.errors?.['required']">pincode required</p>
                <p *ngIf="createstudentForm.get('address.pincode')?.errors?.['minlength']">pincode should be 6 digits</p>
            </div>
        
        </div>
        <!-- form array -->
        <div formArrayName="educationArray">
            <div *ngFor="let education of educationFormArray.controls ; let i =index">
                <div formGroupName="{{i}}">
                    
                    <h1>Skill: {{skills[i]}}</h1>
                    <label for="">qualification:</label>
                    <input type="text" formControlName="qualification">
                     <br>
                    <label for="">year:</label>
                    <input type="text" formControlName="year">
                    <br>
                    <label for="">percentage:</label>
                    <input type="text" formControlName="percentage">
                    
                    <div class="error" *ngIf="createstudentForm.controls[i].get('percentage')?.touched && createstudentForm.controls[i].get('percentage')?.invalid">
                        <p *ngIf="createstudentForm.get('educationArray.percentage')?.errors?.['required']">percentage required</p>
                        <p *ngIf="createstudentForm.get('educationArray.percentage')?.errors?.['min']">percentage should be 0 t0 100</p>
                    </div>
                     
                    <br>
                    <button class="btn btn-danger" (click)="delete(i)">delete</button>
                </div>
            </div>
            <br>
            <div class=" mb-2">
            
            <button class="btn btn-primary" (click)="add()" (click)="i = i + 1" [disabled]="i === skills.length" > Add Education</button>
            
            </div>
        </div>

       
        
        <div formGroupName="company">
            <label for="">name</label>
            <input type="text" formControlName="name">
            <br>
            <label for="">location</label>
            <input type="text" formControlName="location">
            <br>
            <label for="">package</label>
            <input type="text" formControlName="package">
            <br>
            <label for="">offerDate</label>
            <input type="text" formControlName="offerDate">
        </div>


        
        <!-- dynamic forms -->

        <label for="">Sourcetype</label>
        <input type="radio" id="" name="Sourcetype" value="Direct" formControlName="Sourcetype">
        <label for="">Direct</label>
        <input type="radio" id="" name="Sourcetype" value="Refer" formControlName="Sourcetype">
        <label for="">Refer</label>

         <div *ngIf="createstudentForm.get('Sourcetype')?.value== 'Direct'">
            <input type="radio" value="social media" formControlName="sourceFrom">
            <label for="">social media</label>
            <input type="radio" value="office"  formControlName="sourceFrom">
            <label for="">Office</label>
         </div>

         <div *ngIf="createstudentForm.get('Sourcetype')?.value== 'Refer'">
            <label for="">Referal Name</label>
            <input type="text" value="">
         </div>
        
         <div class="text-center mb-2 mt-2">
            <button class="btn btn-success" (click)="submit()">submit</button>
        </div>
        

    </form>
 

    </div>
</div>